.resturant-menu {
    font-family: monospace;
    padding: 0px 16px 16px;
    .menu-card {
        background-color: #fff;
        border-radius: 20px;
        border: 1px solid #fff;
        padding: 16px;
        color: #000;
        .cuisines {
            color: rgb(241, 87, 0);
        }
        .areaname {
            color: rgba(2, 6, 12, 0.6);
        }
    }
    ul.menu-details {
        list-style-type: none;
        padding: 0;
        margin: 0;
      }
      
      ul.menu-details li.menu-name {
        background-color: white;
        border-radius: 8px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        margin: 10px 0;
        padding: 15px;
        transition: box-shadow 0.3s ease-in-out;
        cursor: pointer;
        color: #000;
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 50%;
      }
      
      ul.menu-details li.menu-name:hover {
        box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
      }
      
}