.login-page {
    display: flex;
    justify-content: center;
    .login-panel {
        border: 1px solid #9acc13;
        margin: 20px;
        padding: 20px 20px 10px 20px;
        border-radius: 2%;
        width: 35%;
        .form-horizontal {
            .register {
                height: 1.8rem;
                padding: .35rem .4rem;
                font-size: .8rem;
                line-height: 1rem;
                text-decoration: none;
                transition: all .2s;
                display: inline-block;
                color: #9acc14;
            }
            .float-right {
                background: #9acc14;
                border-color: #9acc14;
                border: .05rem solid #9acc13;
                float: right;
                color: #fff;
            }
            .btn {
                cursor: pointer;
                display: inline-block;
                font-size: .8rem;
                height: 1.8rem;
                line-height: 1rem;
                outline: 0;
                padding: .35rem .4rem;
                text-align: center;
                text-decoration: none;
                transition: all .2s ease;
                -webkit-user-select: none;
                -moz-user-select: none;
                -ms-user-select: none;
                user-select: none;
                vertical-align: middle;
                white-space: nowrap;
            
            }
            .form-group {
                display: flex;
                flex-direction: row;
                align-items: center;
                margin-bottom: 20px;
                .password-container,
                .label-container {
                    width: 33%;
                }
                .password-input,
                .username-input {
                    width: 64%;
                    input {
                        appearance: none;
                        background: #fff;
                        background-image: none;
                        border: .05rem solid #caced7;
                        border-radius: .1rem;
                        color: #50596c;
                        display: block;
                        font-size: .8rem;
                        height: 1.8rem;
                        line-height: 1rem;
                        max-width: 100%;
                        outline: 0;
                        padding: .35rem .4rem;
                        position: relative;
                        transition: all .2s ease;
                        width: 100%;
                    }
                }
            }
        }
    }
}